[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
tensorflow = "*"
opencv-python = "*"
matplotlib = "*"
segmentation-models = "*"
torch = "*"
torchvision = "*"
tqdm = "*"
pandas = "*"
rasterio = "*"

[dev-packages]

[requires]
python_version = "3.9"
